<ul class="partners" id="partners">
    <li><a href="http://мой-юрфак.рф" tabindex="-1"><img src="../img/1.png" alt="kfu"></a></li>
    <li><a href="http://dlc.kpfu.ru" tabindex="-1"><img src="../img/2.png" alt="cel"></a></li>
    <li><a href="http://kpfu.ru/itis" tabindex="-1"><img src="../img/3.png" alt="itis"></a></li>
    <li><a href="http://kpfu.ru" tabindex="-1"><img src="../img/4.png" alt="kfu"></a></li>
    <li><a href="http://jblab-kzn.ru/" tabindex="-1"><img src="../img/5.png" alt="jetbrains"></a></li>
    <li><a href="http://мой-юрфак.рф" tabindex="-1"><img src="../img/6.png" alt="urfak"></a></li>
</ul>