@charset  "UTF-8";
@font-face {
  font-family: 'Neue-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Neue-Light'), url('../fonts/NeueHaasUnicaW1G-Light.ttf') format('truetype');
}


@font-face {
  font-family: 'Neue-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Neue-Medium'), url('../fonts/NeueHaasUnicaW1G-Medium.ttf') format('truetype');
}


@font-face {
  font-family: 'Neue-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Neue-Regular'), url('../fonts/NeueHaasUnicaW1G-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Neue-Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Neue-Thin'), url('../fonts/NeueHaasUnicaW1G-Thin.ttf') format('truetype');
}


@font-face {
  font-family: 'Neue-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Neue-Bold'), url('../fonts/NeueHaasUnicaW1G-Bold.ttf') format('truetype');
}