body {
  padding-top: 5px;
  background: #f3f8fb;
}

.partners_wrap {
  padding: 30px 0 30px 0;
  background: #fff;
}

.header {
  position: static;
}

.go-btn {
  border-radius: 5px;
  color: #fff;
  background: #00a5f3;
  border: none;
  padding: 4px 30px 6px 30px;
}

.event_wrap {
  padding: 60px 50px 370px 50px;
  margin: 60px 0 167px 0;
  background: #fff;
      >.event_img {
        width: 20.69491525423729%;
        float: left;
          >img {
            max-width: 100%;
            height: auto;
          }
      }
  >.event_info {
    float: right;
    width: 79.30508474576271%;
      >h2 {
        margin: 0 0 30px 0;
        font-size: 33px;
        color: #666;
        font-weight: normal;
      }
    >.info {
      width: 100%;
      tr {
        td:first-child {
          width: 15%;
          color: #ccc;
        }
        td {
          padding-bottom: 15px;
          font: 16px "Neue-Light",sans-serif;
          color: #666;
            >img {
              vertical-align: middle;
              margin-right: 20px;
            }
        }
        >.price {
          color: #000;
          font-family: "Neue-Medium",sans-serif;
          font-weight: bold;
        }
        >.mail, .tel {
          color: #4a616c;
          font-size: 21px;
        }
        >.mail {
          width: 30%;
        }
      }
      tr:last-child {
        td:last-child {
          text-align: right;
        }
      }
    }
   >.program {
     color: #00a6d9;
     font: 26px "Myriad Pro", sans-serif;
     margin: 50px 0 30px 0;
   }
    >.program_list {
      padding: 0;
      margin: 0;
      >li {
        margin-top: 20px;
        font-family: "Neue-Light",sans-serif;
        font-size: 26px;
        color: #666;
        list-style: none;
      }
    }
    >.more {
      cursor: pointer;
      color: #849ea8;
      font-size: 26px;
      font-family: "Mydriad Pro",sans-serif;
      padding-bottom: 8px;
      border-bottom: 2px dashed #849ea8;
      display: table;
      margin: 80px 0 30px 0;
        &:hover {
          border-bottom-color: transparent;
        }
    }
    >.more_info {
      display: none;
      width: 100%;
      tr {
        td:first-child {
          width: 30%;
          color: #ccc;
        }
        td {
          padding-bottom: 15px;
          font: 19px "Neue-Light", sans-serif;
          color: #666;
        }
      }
    }
  }
}

.hide_go {
  display: none;
}


@media only screen and (max-width: 1110px) {
  .event_wrap>.event_info {
    padding-left: 20px;
  }
  .event_wrap>.event_info>h2 {
    line-height: 1;
  }
  .event_wrap>.event_info>.program_list>li {
    line-height: 1;
  }
  .event_wrap>.event_info>.more_info tr td:first-child {
    width: 50%;
  }
}

@media only screen and (max-width: 1050px) {
  .event_wrap>.event_info>.info tr td:first-child {
    width: 30%;
  }
  .event_wrap>.event_info>h2 {
    font-size: 27px;
  }
}

@media only screen and (max-width: 903px) {

  .event_wrap {
    padding-bottom: 50px;
  }

  .event_wrap>.event_info>.more_info tr td {
    font-size: 16px;
  }

  .event_wrap>.event_info>.program {
    color: #ccc;
    font-size: 18px;
  }

  .event_wrap>.event_info>.program_list>li {
    font-size: 18px;
  }

  .event_wrap>.event_info>h2 {
    font-size: 30px;
  }
  .event_wrap>.event_info>.info tr:last-child td:last-child {
    width: 20%;
  }

  .event_wrap>.event_info>.more_info {
    display: block;
  }
  .event_wrap>.event_info>.more {
    cursor: default;
  }
  .event_wrap>.event_info>.info tr .tel, .event_wrap>.event_info>.info tr>.mail {
    font-size: 18px;
  }

  .event_wrap>.event_info>.more_info tr td:first-child {
    width: 60%;
  }

}

@media  only screen and (max-width: 875px) {
  .event_wrap>.event_info>.info tr:last-child td:last-child {
    display: none;
  }
  .hide_go {
    margin-top: 30px;
    float: right;
    display: block;
    padding: 7px 30px 10px 30px;
  }
}

@media only screen and (max-width: 650px) {
  .event_wrap>.event_info>.more_info tr td:first-child,.event_wrap>.event_info>.more_info tr td:last-child {
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 560px) {
  .event_wrap>.event_img {
    display: none;
  }
  .event_wrap>.event_info {
    padding-left: 0;
    width: 100%;
    float: none;
  }
  .event_wrap>.event_info>.more {
    font-size: 18px;
    border-bottom: none;
  }
}

@media only screen and (max-width: 450px) {
  .event_wrap>.event_info>.info tr td:first-child,.event_wrap>.event_info>.info tr td:last-child,.event_info>.info tr td:nth-child(2) {
    width: 100%;
    display: block;
  }
  .event_wrap>.event_info>.info tr>.mail {
    width: 100%;
  }
  .event_wrap>.event_info>h2 {
    font-size: 22px;
  }
  .event_wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
}